set_location ctrl.shift_reg_0_9_THRU_LUT4_0 9 7 2 #SB_LUT4
set_location ctrl.shift_reg_0_8_THRU_LUT4_0 9 7 3 #SB_LUT4
set_location ctrl.shift_reg_0_7_THRU_LUT4_0 7 5 7 #SB_LUT4
set_location ctrl.shift_reg_0_6_THRU_LUT4_0 7 5 6 #SB_LUT4
set_location ctrl.shift_reg_0_5_THRU_LUT4_0 7 5 5 #SB_LUT4
set_location ctrl.shift_reg_0_4_THRU_LUT4_0 7 5 0 #SB_LUT4
set_location ctrl.shift_reg_0_3_THRU_LUT4_0 7 5 3 #SB_LUT4
set_location ctrl.shift_reg_0_2_THRU_LUT4_0 7 5 2 #SB_LUT4
set_location ctrl.shift_reg_0_11_THRU_LUT4_0 7 5 4 #SB_LUT4
set_location ctrl.shift_reg_0_10_THRU_LUT4_0 9 7 0 #SB_LUT4
set_location ctrl.shift_reg_0_1_THRU_LUT4_0 7 5 1 #SB_LUT4
set_location ctrl.shift_reg_0_0_THRU_LUT4_0 9 7 1 #SB_LUT4
set_location ctrl.clk_pmod_RNIC23D_ctrl.clk_pmod_REP_LUT4_0 7 6 1 #SB_LUT4
set_location ctrl.shift_reg_0[2] 7 5 2 #SB_DFFER
set_location ctrl.bit_count_fast[2] 7 6 6 #SB_DFFR
set_location ctrl.data_ch0_RNO[6] 7 7 6 #SB_LUT4
set_location ctrl.data_ch0[8] 7 8 3 #SB_DFFER
set_location ctrl.shift_reg_0[11] 7 5 4 #SB_DFFER
set_location ctrl.data_ch0_RNO[8] 7 8 3 #SB_LUT4
set_location ctrl.bit_count_er[3] 9 6 0 #SB_DFFER
set_location ctrl.shift_reg_0[6] 7 5 6 #SB_DFFER
set_location ctrl.data_ch0_RNO[3] 7 8 0 #SB_LUT4
set_location ctrl.data_ch0_RNO_1[1] 8 7 6 #SB_LUT4
set_location ctrl.shift_reg_0[4] 7 5 0 #SB_DFFER
set_location ctrl.data_ch0_RNO[5] 7 8 2 #SB_LUT4
set_location ctrl.data_ch0[4] 7 8 1 #SB_DFFER
set_location ctrl.bit_count_fast_RNO[0] 8 6 7 #SB_LUT4
set_location ctrl.bit_count_RNO[1] 7 6 5 #SB_LUT4
set_location ctrl.shift_reg_0[3] 7 5 3 #SB_DFFER
set_location ctrl.data_ch0_RNO[10] 7 7 4 #SB_LUT4
set_location ctrl.cs_n_RNO_0 8 6 3 #SB_LUT4
set_location ctrl.cs_n_RNO 9 5 0 #SB_LUT4
set_location ctrl.bit_count_fast_RNI04N21[1] 8 6 5 #SB_LUT4
set_location led1_obuf_RNO 7 7 3 #SB_LUT4
set_location ctrl.data_ch0_RNO[7] 7 7 7 #SB_LUT4
set_location ctrl.data_ch0[2] 7 6 3 #SB_DFFR
set_location ctrl.clk_pmod 7 6 1 #SB_DFFR
set_location ctrl.bit_count_fast_RNO[2] 7 6 6 #SB_LUT4
set_location ctrl.bit_count[4] 8 6 1 #SB_DFFR
set_location ctrl.shift_reg_0[1] 7 5 1 #SB_DFFER
set_location ctrl.data_ch0[9] 7 8 4 #SB_DFFER
set_location ctrl.bit_count_fast[1] 8 5 0 #SB_DFFR
set_location ctrl.shift_reg_0[8] 9 7 3 #SB_DFFER
set_location ctrl.shift_reg_0[10] 9 7 0 #SB_DFFER
set_location ctrl.data_ch0_RNO[9] 7 8 4 #SB_LUT4
set_location ctrl.data_ch0[0] 8 7 3 #SB_DFFR
set_location ctrl.cs_n 9 5 0 #SB_DFFES
set_location ctrl.shift_reg_0[7] 7 5 7 #SB_DFFER
set_location ctrl.data_ch0_RNO_0[0] 8 7 2 #SB_LUT4
set_location ctrl.data_ch0_RNO[0] 8 7 3 #SB_LUT4
set_location ctrl.data_ch0[7] 7 7 7 #SB_DFFER
set_location ctrl.data_ch0[11] 7 7 5 #SB_DFFER
set_location ctrl.bit_count_RNO[2] 8 7 1 #SB_LUT4
set_location ctrl.bit_count_RNO_0[4] 8 6 0 #SB_LUT4
set_location ctrl.bit_count_RNI4DAM[2] 8 7 0 #SB_LUT4
set_location led1_obuf_RNO_0 7 7 2 #SB_LUT4
set_location ctrl.bit_count[0] 8 8 0 #SB_DFFR
set_location ctrl.shift_reg_0[5] 7 5 5 #SB_DFFER
set_location ctrl.data_ch0_RNO[2] 7 6 3 #SB_LUT4
set_location ctrl.data_ch0_RNO_1[0] 8 7 4 #SB_LUT4
set_location ctrl.data_ch0_RNO_0[2] 7 6 2 #SB_LUT4
set_location ctrl.data_ch0[5] 7 8 2 #SB_DFFER
set_location ctrl.clk_pmod_RNIC23D 7 6 4 #SB_LUT4
set_location ctrl.bit_count_fast_RNO[1] 8 5 0 #SB_LUT4
set_location ctrl.bit_count_er_RNIDNGP1[3] 8 6 6 #SB_LUT4
set_location ctrl.bit_count_RNO[0] 8 8 0 #SB_LUT4
set_location ctrl.bit_count_1_rep1_RNO 8 8 6 #SB_LUT4
set_location led1_obuf_RNO_2 7 7 0 #SB_LUT4
set_location ctrl.bit_count[2] 8 7 1 #SB_DFFR
set_location ctrl.data_ch0_RNO[4] 7 8 1 #SB_LUT4
set_location ctrl.data_ch0_RNO_1[2] 8 7 5 #SB_LUT4
set_location ctrl.data_ch0[3] 7 8 0 #SB_DFFER
set_location ctrl.data_ch0_RNO[11] 7 7 5 #SB_LUT4
set_location ctrl.cs_n_RNO_1 8 6 2 #SB_LUT4
set_location ctrl.cs_n_RNIIG3F 9 10 1 #SB_LUT4
set_location ctrl.bit_count_1_rep1 8 8 6 #SB_DFFR
set_location ctrl.shift_reg_0[9] 9 7 2 #SB_DFFER
set_location ctrl.data_ch0[1] 8 7 7 #SB_DFFR
set_location ctrl.bit_count_RNO[4] 8 6 1 #SB_LUT4
set_location ctrl.shift_reg_0[0] 9 7 1 #SB_DFFER
set_location ctrl.data_ch0_RNO[1] 8 7 7 #SB_LUT4
set_location ctrl.data_ch0[10] 7 7 4 #SB_DFFER
set_location ctrl.bit_count_fast[0] 8 6 7 #SB_DFFR
set_location ctrl.bit_count_er_RNO[3] 9 6 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location led1_obuf_RNO_1 7 7 1 #SB_LUT4
set_location ctrl.data_ch0_RNO_0[1] 7 6 0 #SB_LUT4
set_location ctrl.data_ch0[6] 7 7 6 #SB_DFFER
set_location ctrl.bit_count[1] 7 6 5 #SB_DFFR
set_io sclk 65
set_io miso_0 63
set_io rst_p 53
set_io led1 56
set_io cs_n 64
set_io clk 15
