set_location IN_MUX_bfv_1_13_0_ 1 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_14_0_ 1 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_15_0_ 1 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_15_0_ 2 15 0 #ICE_CARRY_IN_MUX
set_location un1_clk_count_cry_5_THRU_LUT4_0 1 13 5 #SB_LUT4
set_location un1_clk_count_cry_21_THRU_LUT4_0 1 15 5 #SB_LUT4
set_location un1_clk_count_cry_20_THRU_LUT4_0 1 15 4 #SB_LUT4
set_location un1_clk_count_cry_19_THRU_LUT4_0 1 15 3 #SB_LUT4
set_location un1_clk_count_cry_18_THRU_LUT4_0 1 15 2 #SB_LUT4
set_location un1_clk_count_cry_17_THRU_LUT4_0 1 15 1 #SB_LUT4
set_location un1_clk_count_cry_15_THRU_LUT4_0 1 14 7 #SB_LUT4
set_location un1_clk_count_cry_13_THRU_LUT4_0 1 14 5 #SB_LUT4
set_location un1_clk_count_cry_12_THRU_LUT4_0 1 14 4 #SB_LUT4
set_location un1_clk_count_cry_11_THRU_LUT4_0 1 14 3 #SB_LUT4
set_location un1_clk_count_cry_10_THRU_LUT4_0 1 14 2 #SB_LUT4
set_location clk_count6_THRU_LUT4_0 2 15 7 #SB_LUT4
set_location enable_1hz_THRU_LUT4_0 4 15 2 #SB_LUT4
set_location display.digit_2.svseg_1_6_0_.tens_0_sqmuxa_1 5 15 6 #SB_LUT4
set_location display.digit_2.svseg_1_6_0_.N_11_i 2 13 0 #SB_LUT4
set_location clk_count_RNO[19] 1 16 2 #SB_LUT4
set_location un1_clk_count_cry_4_c 1 13 3 #SB_CARRY
set_location clk_count_RNO[1] 2 13 2 #SB_LUT4
set_location clk_count6_0_c 2 15 0 #SB_CARRY
set_location tens_RNO[0] 5 15 7 #SB_LUT4
set_location tens[1] 6 15 6 #SB_DFF
set_location clk_count6_1_c_RNO 2 14 3 #SB_LUT4
set_location display.digit_2.svseg_1_6_0_.N_14_i 6 16 6 #SB_LUT4
set_location display.digit_1.svseg_1_6_0_.N_16_i 4 16 3 #SB_LUT4
set_location clk_count_RNO[16] 1 16 6 #SB_LUT4
set_location un1_clk_count_cry_10_c 1 14 1 #SB_CARRY
set_location clk_count6_0_c_RNO 2 14 0 #SB_LUT4
set_location display.digit_1.svseg_1_6_0_.N_11_i 4 15 1 #SB_LUT4
set_location clk_count_RNO[5] 1 13 4 #SB_LUT4
set_location clk_count_RNO[13] 1 16 0 #SB_LUT4
set_location clk_count[22] 1 16 1 #SB_DFF
set_location clk_count[15] 1 14 6 #SB_DFF
set_location un1_clk_count_cry_2_c 1 13 1 #SB_CARRY
set_location un1_clk_count_cry_12_c 1 14 3 #SB_CARRY
set_location display.digit_2.svseg_1_6_0_.ones5 4 15 3 #SB_LUT4
set_location un1_clk_count_cry_7_c 1 13 6 #SB_CARRY
set_location ones_RNO[2] 4 15 0 #SB_LUT4
set_location ones[0] 4 15 5 #SB_DFF
set_location display.digit_2.svseg_1_6_0_.tens6 6 15 5 #SB_LUT4
set_location display.digit_2.svseg_1_6_0_.N_13_i 6 16 3 #SB_LUT4
set_location clk_count_RNO[20] 1 16 4 #SB_LUT4
set_location clk_count_RNO[0] 2 13 1 #SB_LUT4
set_location clk_count[5] 1 13 4 #SB_DFF
set_location tens_RNO[3] 5 15 3 #SB_LUT4
set_location tens[0] 5 15 7 #SB_DFF
set_location clk_count_RNO[9] 1 14 0 #SB_LUT4
set_location clk_count_RNO[17] 1 15 0 #SB_LUT4
set_location clk_count6_2_c 2 15 2 #SB_CARRY
set_location un1_clk_count_cry_15_c 1 14 6 #SB_CARRY
set_location clk_count[0] 2 13 1 #SB_DFF
set_location un1_clk_count_cry_9_c 1 14 0 #SB_CARRY
set_location clk_count_RNO[4] 1 13 3 #SB_LUT4
set_location clk_count[9] 1 14 0 #SB_DFF
set_location un1_clk_count_cry_22_c 1 15 5 #SB_CARRY
set_location display.digit_1.svseg_1_6_0_.N_6_i 4 16 1 #SB_LUT4
set_location display.digit_1.svseg_1_6_0_.N_13_i 5 16 7 #SB_LUT4
set_location clk_count[21] 1 16 7 #SB_DFF
set_location clk_count[12] 2 14 5 #SB_DFF
set_location un1_clk_count_cry_17_c 1 15 0 #SB_CARRY
set_location display.digit_2.svseg_1_6_0_.tens_0_sqmuxa_1_s_0 5 15 5 #SB_LUT4
set_location display.digit_2.svseg_1_6_0_.N_19_i 2 13 6 #SB_LUT4
set_location un1_clk_count_cry_11_c 1 14 2 #SB_CARRY
set_location ones_RNO[3] 4 15 7 #SB_LUT4
set_location ones[1] 4 15 4 #SB_DFF
set_location enable_1hz 4 15 2 #SB_DFF
set_location clk_count_RNO[23] 1 15 6 #SB_LUT4
set_location clk_count[4] 1 13 3 #SB_DFF
set_location clk_count6_2_c_RNO 2 16 1 #SB_LUT4
set_location un1_clk_count_cry_23_c 1 15 6 #SB_CARRY
set_location tens_RNO[2] 5 15 4 #SB_LUT4
set_location tens_RNIEQFT[3] 5 15 0 #SB_LUT4
set_location clk_count_RNO[8] 1 13 7 #SB_LUT4
set_location clk_count6_4_c 2 15 4 #SB_CARRY
set_location un1_clk_count_cry_18_c 1 15 1 #SB_CARRY
set_location display.digit_2.svseg_1_6_0_.N_6_i 4 14 0 #SB_LUT4
set_location display.digit_1.svseg_1_6_0_.N_20_i 4 16 2 #SB_LUT4
set_location clk_count_RNO[10] 1 14 1 #SB_LUT4
set_location clk_count[16] 1 16 6 #SB_DFF
set_location clk_count6_5_c_RNO 2 14 6 #SB_LUT4
set_location clk_count6_1_c 2 15 1 #SB_CARRY
set_location un1_clk_count_cry_3_c 1 13 2 #SB_CARRY
set_location display.digit_2.svseg_1_6_0_.CO2 4 15 6 #SB_LUT4
set_location clk_count[3] 1 13 2 #SB_DFF
set_location clk_count6_6_c 2 15 6 #SB_CARRY
set_location display.digit_2.svseg_1_6_0_.N_20_i 2 13 4 #SB_LUT4
set_location display.digit_1.svseg_1_6_0_.N_14_i 4 16 7 #SB_LUT4
set_location clk_count_RNO[3] 1 13 2 #SB_LUT4
set_location clk_count[8] 1 13 7 #SB_DFF
set_location clk_count[18] 2 16 2 #SB_DFF
set_location un1_clk_count_cry_21_c 1 15 4 #SB_CARRY
set_location tens[3] 5 15 3 #SB_DFF
set_location clk_count[20] 1 16 4 #SB_DFF
set_location clk_count[13] 1 16 0 #SB_DFF
set_location clk_count_RNO[14] 1 16 3 #SB_LUT4
set_location un1_clk_count_cry_5_c 1 13 4 #SB_CARRY
set_location tens_RNO_1[3] 5 15 1 #SB_LUT4
set_location ones_RNO[0] 4 15 5 #SB_LUT4
set_location ones[2] 4 15 0 #SB_DFF
set_location clk_count_RNO[22] 1 16 1 #SB_LUT4
set_location clk_count[7] 1 13 6 #SB_DFF
set_location display.digit_1.svseg_1_6_0_.N_19_i 4 16 0 #SB_LUT4
set_location clk_count_RNO[7] 1 13 6 #SB_LUT4
set_location un1_clk_count_cry_20_c 1 15 3 #SB_CARRY
set_location clk_count_RNO[11] 2 14 4 #SB_LUT4
set_location clk_count[24] 1 15 7 #SB_DFF
set_location clk_count[17] 1 15 0 #SB_DFF
set_location clk_count6_4_c_RNO 2 14 2 #SB_LUT4
set_location clk_count_RNO[18] 2 16 2 #SB_LUT4
set_location clk_count[2] 1 13 1 #SB_DFF
set_location clk_count6_6_c_inv 2 15 6 #SB_LUT4
set_location un1_clk_count_cry_1_c 1 13 0 #SB_CARRY
set_location tens_RNO_0[3] 5 15 2 #SB_LUT4
set_location clk_count_RNO[2] 1 13 1 #SB_LUT4
set_location clk_count[19] 1 16 2 #SB_DFF
set_location clk_count6_5_c 2 15 5 #SB_CARRY
set_location un1_clk_count_cry_14_c 1 14 5 #SB_CARRY
set_location tens_RNO[1] 6 15 6 #SB_LUT4
set_location tens[2] 5 15 4 #SB_DFF
set_location GND -1 -1 -1 #GND
set_location clk_count[10] 1 14 1 #SB_DFF
set_location clk_count_RNO[15] 1 14 6 #SB_LUT4
set_location un1_clk_count_cry_13_c 1 14 4 #SB_CARRY
set_location ones_RNO[1] 4 15 4 #SB_LUT4
set_location ones[3] 4 15 7 #SB_DFF
set_location clk_count[6] 2 14 1 #SB_DFF
set_location un1_clk_count_cry_6_c 1 13 5 #SB_CARRY
set_location un1_clk_count_cry_16_c 1 14 7 #SB_CARRY
set_location clk_count_RNO[6] 2 14 1 #SB_LUT4
set_location clk_count_RNO[12] 2 14 5 #SB_LUT4
set_location clk_count[23] 1 15 6 #SB_DFF
set_location clk_count[14] 1 16 3 #SB_DFF
set_location clk_count6_3_c 2 15 3 #SB_CARRY
set_location un1_clk_count_cry_19_c 1 15 2 #SB_CARRY
set_location clk_count_RNO[21] 1 16 7 #SB_LUT4
set_location clk_count6_3_c_RNO 1 16 5 #SB_LUT4
set_location un1_clk_count_cry_8_c 1 13 7 #SB_CARRY
set_location display.digit_2.svseg_1_6_0_.N_16_i 5 16 0 #SB_LUT4
set_location clk_count[11] 2 14 4 #SB_DFF
set_location clk_count_RNO[24] 1 15 7 #SB_LUT4
set_location clk_count[1] 2 13 2 #SB_DFF
set_io svseg_2[5] 4
set_io svseg_2[1] 1
set_io svseg_1[4] 97
set_io svseg_1[0] 96
set_io svseg_2[4] 93
set_io svseg_2[0] 2
set_io svseg_1[5] 99
set_io svseg_1[1] 8
set_io svseg_2[3] 91
set_io svseg_1[6] 100
set_io svseg_1[2] 94
set_io svseg_2[6] 3
set_io svseg_2[2] 90
set_io svseg_1[3] 95
set_io clk 15
