ble_pack un1_clk_count_cry_1_c_LC_1_13_0 { un1_clk_count_cry_1_c }
ble_pack clk_count_2_LC_1_13_1 { clk_count_RNO[2], clk_count[2], un1_clk_count_cry_2_c }
ble_pack clk_count_3_LC_1_13_2 { clk_count_RNO[3], clk_count[3], un1_clk_count_cry_3_c }
ble_pack clk_count_4_LC_1_13_3 { clk_count_RNO[4], clk_count[4], un1_clk_count_cry_4_c }
ble_pack clk_count_5_LC_1_13_4 { clk_count_RNO[5], clk_count[5], un1_clk_count_cry_5_c }
ble_pack un1_clk_count_cry_5_THRU_LUT4_0_LC_1_13_5 { un1_clk_count_cry_5_THRU_LUT4_0, un1_clk_count_cry_6_c }
ble_pack clk_count_7_LC_1_13_6 { clk_count_RNO[7], clk_count[7], un1_clk_count_cry_7_c }
ble_pack clk_count_8_LC_1_13_7 { clk_count_RNO[8], clk_count[8], un1_clk_count_cry_8_c }
clb_pack LT_1_13 { un1_clk_count_cry_1_c_LC_1_13_0, clk_count_2_LC_1_13_1, clk_count_3_LC_1_13_2, clk_count_4_LC_1_13_3, clk_count_5_LC_1_13_4, un1_clk_count_cry_5_THRU_LUT4_0_LC_1_13_5, clk_count_7_LC_1_13_6, clk_count_8_LC_1_13_7 }
set_location LT_1_13 1 13
ble_pack clk_count_9_LC_1_14_0 { clk_count_RNO[9], clk_count[9], un1_clk_count_cry_9_c }
ble_pack clk_count_10_LC_1_14_1 { clk_count_RNO[10], clk_count[10], un1_clk_count_cry_10_c }
ble_pack un1_clk_count_cry_10_THRU_LUT4_0_LC_1_14_2 { un1_clk_count_cry_10_THRU_LUT4_0, un1_clk_count_cry_11_c }
ble_pack un1_clk_count_cry_11_THRU_LUT4_0_LC_1_14_3 { un1_clk_count_cry_11_THRU_LUT4_0, un1_clk_count_cry_12_c }
ble_pack un1_clk_count_cry_12_THRU_LUT4_0_LC_1_14_4 { un1_clk_count_cry_12_THRU_LUT4_0, un1_clk_count_cry_13_c }
ble_pack un1_clk_count_cry_13_THRU_LUT4_0_LC_1_14_5 { un1_clk_count_cry_13_THRU_LUT4_0, un1_clk_count_cry_14_c }
ble_pack clk_count_15_LC_1_14_6 { clk_count_RNO[15], clk_count[15], un1_clk_count_cry_15_c }
ble_pack un1_clk_count_cry_15_THRU_LUT4_0_LC_1_14_7 { un1_clk_count_cry_15_THRU_LUT4_0, un1_clk_count_cry_16_c }
clb_pack LT_1_14 { clk_count_9_LC_1_14_0, clk_count_10_LC_1_14_1, un1_clk_count_cry_10_THRU_LUT4_0_LC_1_14_2, un1_clk_count_cry_11_THRU_LUT4_0_LC_1_14_3, un1_clk_count_cry_12_THRU_LUT4_0_LC_1_14_4, un1_clk_count_cry_13_THRU_LUT4_0_LC_1_14_5, clk_count_15_LC_1_14_6, un1_clk_count_cry_15_THRU_LUT4_0_LC_1_14_7 }
set_location LT_1_14 1 14
ble_pack clk_count_17_LC_1_15_0 { clk_count_RNO[17], clk_count[17], un1_clk_count_cry_17_c }
ble_pack un1_clk_count_cry_17_THRU_LUT4_0_LC_1_15_1 { un1_clk_count_cry_17_THRU_LUT4_0, un1_clk_count_cry_18_c }
ble_pack un1_clk_count_cry_18_THRU_LUT4_0_LC_1_15_2 { un1_clk_count_cry_18_THRU_LUT4_0, un1_clk_count_cry_19_c }
ble_pack un1_clk_count_cry_19_THRU_LUT4_0_LC_1_15_3 { un1_clk_count_cry_19_THRU_LUT4_0, un1_clk_count_cry_20_c }
ble_pack un1_clk_count_cry_20_THRU_LUT4_0_LC_1_15_4 { un1_clk_count_cry_20_THRU_LUT4_0, un1_clk_count_cry_21_c }
ble_pack un1_clk_count_cry_21_THRU_LUT4_0_LC_1_15_5 { un1_clk_count_cry_21_THRU_LUT4_0, un1_clk_count_cry_22_c }
ble_pack clk_count_23_LC_1_15_6 { clk_count_RNO[23], clk_count[23], un1_clk_count_cry_23_c }
ble_pack clk_count_24_LC_1_15_7 { clk_count_RNO[24], clk_count[24] }
clb_pack LT_1_15 { clk_count_17_LC_1_15_0, un1_clk_count_cry_17_THRU_LUT4_0_LC_1_15_1, un1_clk_count_cry_18_THRU_LUT4_0_LC_1_15_2, un1_clk_count_cry_19_THRU_LUT4_0_LC_1_15_3, un1_clk_count_cry_20_THRU_LUT4_0_LC_1_15_4, un1_clk_count_cry_21_THRU_LUT4_0_LC_1_15_5, clk_count_23_LC_1_15_6, clk_count_24_LC_1_15_7 }
set_location LT_1_15 1 15
ble_pack clk_count_13_LC_1_16_0 { clk_count_RNO[13], clk_count[13] }
ble_pack clk_count_22_LC_1_16_1 { clk_count_RNO[22], clk_count[22] }
ble_pack clk_count_19_LC_1_16_2 { clk_count_RNO[19], clk_count[19] }
ble_pack clk_count_14_LC_1_16_3 { clk_count_RNO[14], clk_count[14] }
ble_pack clk_count_20_LC_1_16_4 { clk_count_RNO[20], clk_count[20] }
ble_pack clk_count6_3_c_RNO_LC_1_16_5 { clk_count6_3_c_RNO }
ble_pack clk_count_16_LC_1_16_6 { clk_count_RNO[16], clk_count[16] }
ble_pack clk_count_21_LC_1_16_7 { clk_count_RNO[21], clk_count[21] }
clb_pack LT_1_16 { clk_count_13_LC_1_16_0, clk_count_22_LC_1_16_1, clk_count_19_LC_1_16_2, clk_count_14_LC_1_16_3, clk_count_20_LC_1_16_4, clk_count6_3_c_RNO_LC_1_16_5, clk_count_16_LC_1_16_6, clk_count_21_LC_1_16_7 }
set_location LT_1_16 1 16
ble_pack display.digit_2.svseg_1_6_0__N_11_i_LC_2_13_0 { display.digit_2.svseg_1_6_0_.N_11_i }
ble_pack clk_count_0_LC_2_13_1 { clk_count_RNO[0], clk_count[0] }
ble_pack clk_count_1_LC_2_13_2 { clk_count_RNO[1], clk_count[1] }
ble_pack display.digit_2.svseg_1_6_0__N_20_i_LC_2_13_4 { display.digit_2.svseg_1_6_0_.N_20_i }
ble_pack display.digit_2.svseg_1_6_0__N_19_i_LC_2_13_6 { display.digit_2.svseg_1_6_0_.N_19_i }
clb_pack LT_2_13 { display.digit_2.svseg_1_6_0__N_11_i_LC_2_13_0, clk_count_0_LC_2_13_1, clk_count_1_LC_2_13_2, display.digit_2.svseg_1_6_0__N_20_i_LC_2_13_4, display.digit_2.svseg_1_6_0__N_19_i_LC_2_13_6 }
set_location LT_2_13 2 13
ble_pack clk_count6_0_c_RNO_LC_2_14_0 { clk_count6_0_c_RNO }
ble_pack clk_count_6_LC_2_14_1 { clk_count_RNO[6], clk_count[6] }
ble_pack clk_count6_4_c_RNO_LC_2_14_2 { clk_count6_4_c_RNO }
ble_pack clk_count6_1_c_RNO_LC_2_14_3 { clk_count6_1_c_RNO }
ble_pack clk_count_11_LC_2_14_4 { clk_count_RNO[11], clk_count[11] }
ble_pack clk_count_12_LC_2_14_5 { clk_count_RNO[12], clk_count[12] }
ble_pack clk_count6_5_c_RNO_LC_2_14_6 { clk_count6_5_c_RNO }
clb_pack LT_2_14 { clk_count6_0_c_RNO_LC_2_14_0, clk_count_6_LC_2_14_1, clk_count6_4_c_RNO_LC_2_14_2, clk_count6_1_c_RNO_LC_2_14_3, clk_count_11_LC_2_14_4, clk_count_12_LC_2_14_5, clk_count6_5_c_RNO_LC_2_14_6 }
set_location LT_2_14 2 14
ble_pack clk_count6_0_c_LC_2_15_0 { clk_count6_0_c }
ble_pack clk_count6_1_c_LC_2_15_1 { clk_count6_1_c }
ble_pack clk_count6_2_c_LC_2_15_2 { clk_count6_2_c }
ble_pack clk_count6_3_c_LC_2_15_3 { clk_count6_3_c }
ble_pack clk_count6_4_c_LC_2_15_4 { clk_count6_4_c }
ble_pack clk_count6_5_c_LC_2_15_5 { clk_count6_5_c }
ble_pack clk_count6_6_c_inv_LC_2_15_6 { clk_count6_6_c_inv, clk_count6_6_c }
ble_pack clk_count6_THRU_LUT4_0_LC_2_15_7 { clk_count6_THRU_LUT4_0 }
clb_pack LT_2_15 { clk_count6_0_c_LC_2_15_0, clk_count6_1_c_LC_2_15_1, clk_count6_2_c_LC_2_15_2, clk_count6_3_c_LC_2_15_3, clk_count6_4_c_LC_2_15_4, clk_count6_5_c_LC_2_15_5, clk_count6_6_c_inv_LC_2_15_6, clk_count6_THRU_LUT4_0_LC_2_15_7 }
set_location LT_2_15 2 15
ble_pack clk_count6_2_c_RNO_LC_2_16_1 { clk_count6_2_c_RNO }
ble_pack clk_count_18_LC_2_16_2 { clk_count_RNO[18], clk_count[18] }
clb_pack LT_2_16 { clk_count6_2_c_RNO_LC_2_16_1, clk_count_18_LC_2_16_2 }
set_location LT_2_16 2 16
ble_pack display.digit_2.svseg_1_6_0__N_6_i_LC_4_14_0 { display.digit_2.svseg_1_6_0_.N_6_i }
clb_pack LT_4_14 { display.digit_2.svseg_1_6_0__N_6_i_LC_4_14_0 }
set_location LT_4_14 4 14
ble_pack ones_2_LC_4_15_0 { ones_RNO[2], ones[2] }
ble_pack display.digit_1.svseg_1_6_0__N_11_i_LC_4_15_1 { display.digit_1.svseg_1_6_0_.N_11_i }
ble_pack enable_1hz_LC_4_15_2 { enable_1hz_THRU_LUT4_0, enable_1hz }
ble_pack display.digit_2.svseg_1_6_0__ones5_LC_4_15_3 { display.digit_2.svseg_1_6_0_.ones5 }
ble_pack ones_1_LC_4_15_4 { ones_RNO[1], ones[1] }
ble_pack ones_0_LC_4_15_5 { ones_RNO[0], ones[0] }
ble_pack display.digit_2.svseg_1_6_0__CO2_LC_4_15_6 { display.digit_2.svseg_1_6_0_.CO2 }
ble_pack ones_3_LC_4_15_7 { ones_RNO[3], ones[3] }
clb_pack LT_4_15 { ones_2_LC_4_15_0, display.digit_1.svseg_1_6_0__N_11_i_LC_4_15_1, enable_1hz_LC_4_15_2, display.digit_2.svseg_1_6_0__ones5_LC_4_15_3, ones_1_LC_4_15_4, ones_0_LC_4_15_5, display.digit_2.svseg_1_6_0__CO2_LC_4_15_6, ones_3_LC_4_15_7 }
set_location LT_4_15 4 15
ble_pack display.digit_1.svseg_1_6_0__N_19_i_LC_4_16_0 { display.digit_1.svseg_1_6_0_.N_19_i }
ble_pack display.digit_1.svseg_1_6_0__N_6_i_LC_4_16_1 { display.digit_1.svseg_1_6_0_.N_6_i }
ble_pack display.digit_1.svseg_1_6_0__N_20_i_LC_4_16_2 { display.digit_1.svseg_1_6_0_.N_20_i }
ble_pack display.digit_1.svseg_1_6_0__N_16_i_LC_4_16_3 { display.digit_1.svseg_1_6_0_.N_16_i }
ble_pack display.digit_1.svseg_1_6_0__N_14_i_LC_4_16_7 { display.digit_1.svseg_1_6_0_.N_14_i }
clb_pack LT_4_16 { display.digit_1.svseg_1_6_0__N_19_i_LC_4_16_0, display.digit_1.svseg_1_6_0__N_6_i_LC_4_16_1, display.digit_1.svseg_1_6_0__N_20_i_LC_4_16_2, display.digit_1.svseg_1_6_0__N_16_i_LC_4_16_3, display.digit_1.svseg_1_6_0__N_14_i_LC_4_16_7 }
set_location LT_4_16 4 16
ble_pack tens_RNIEQFT_3_LC_5_15_0 { tens_RNIEQFT[3] }
ble_pack tens_RNO_1_3_LC_5_15_1 { tens_RNO_1[3] }
ble_pack tens_RNO_0_3_LC_5_15_2 { tens_RNO_0[3] }
ble_pack tens_3_LC_5_15_3 { tens_RNO[3], tens[3] }
ble_pack tens_2_LC_5_15_4 { tens_RNO[2], tens[2] }
ble_pack display.digit_2.svseg_1_6_0__tens_0_sqmuxa_1_s_0_LC_5_15_5 { display.digit_2.svseg_1_6_0_.tens_0_sqmuxa_1_s_0 }
ble_pack display.digit_2.svseg_1_6_0__tens_0_sqmuxa_1_LC_5_15_6 { display.digit_2.svseg_1_6_0_.tens_0_sqmuxa_1 }
ble_pack tens_0_LC_5_15_7 { tens_RNO[0], tens[0] }
clb_pack LT_5_15 { tens_RNIEQFT_3_LC_5_15_0, tens_RNO_1_3_LC_5_15_1, tens_RNO_0_3_LC_5_15_2, tens_3_LC_5_15_3, tens_2_LC_5_15_4, display.digit_2.svseg_1_6_0__tens_0_sqmuxa_1_s_0_LC_5_15_5, display.digit_2.svseg_1_6_0__tens_0_sqmuxa_1_LC_5_15_6, tens_0_LC_5_15_7 }
set_location LT_5_15 5 15
ble_pack display.digit_2.svseg_1_6_0__N_16_i_LC_5_16_0 { display.digit_2.svseg_1_6_0_.N_16_i }
ble_pack display.digit_1.svseg_1_6_0__N_13_i_LC_5_16_7 { display.digit_1.svseg_1_6_0_.N_13_i }
clb_pack LT_5_16 { display.digit_2.svseg_1_6_0__N_16_i_LC_5_16_0, display.digit_1.svseg_1_6_0__N_13_i_LC_5_16_7 }
set_location LT_5_16 5 16
ble_pack display.digit_2.svseg_1_6_0__tens6_LC_6_15_5 { display.digit_2.svseg_1_6_0_.tens6 }
ble_pack tens_1_LC_6_15_6 { tens_RNO[1], tens[1] }
clb_pack LT_6_15 { display.digit_2.svseg_1_6_0__tens6_LC_6_15_5, tens_1_LC_6_15_6 }
set_location LT_6_15 6 15
ble_pack display.digit_2.svseg_1_6_0__N_13_i_LC_6_16_3 { display.digit_2.svseg_1_6_0_.N_13_i }
ble_pack display.digit_2.svseg_1_6_0__N_14_i_LC_6_16_6 { display.digit_2.svseg_1_6_0_.N_14_i }
clb_pack LT_6_16 { display.digit_2.svseg_1_6_0__N_13_i_LC_6_16_3, display.digit_2.svseg_1_6_0__N_14_i_LC_6_16_6 }
set_location LT_6_16 6 16
set_io svseg_2[5] 4
set_io svseg_2[1] 1
set_io svseg_1[4] 97
set_io svseg_1[0] 96
set_io svseg_2[4] 93
set_io svseg_2[0] 2
set_io svseg_1[5] 99
set_io svseg_1[1] 8
set_io svseg_2[3] 91
set_io svseg_1[6] 100
set_io svseg_1[2] 94
set_io svseg_2[6] 3
set_io svseg_2[2] 90
set_io svseg_1[3] 95
set_io clk 15
